@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.tabContainer {
		@apply flex flex-wrap items-center justify-evenly mt-8 rounded-[1.6rem] border border-[var(--border-color)] p-[0.7rem_0] gap-4 max-w-[35rem] text-[var(--white)] relative;
	}

	.tabContainer input {
		@apply hidden;
	}

	.tabName {
		@apply flex items-center gap-2 cursor-pointer px-[0.3rem] h-[1.7rem] rounded-[0.8rem] box-border font-medium transition-all duration-[60] ease-in-out;
	}

	.tabContent {
		@apply flex flex-col items-center justify-between pl-[0.3rem] absolute top-[7rem] left-0 
		bg-[var(--info-card-bg-color)] border border-[var(--border-color)] rounded-[1rem] 
		w-[22.3rem] p-[0.7rem] opacity-0 z-0 transition-all duration-300 ease-in-out;
	}

	input:checked + label .tabContent {
		@apply opacity-100 z-[1];
	}
}

body,
html,
root {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: blue !important;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(23, 37, 84, 0.6); /* blue-950/60 */
	border-radius: 4px;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: rgba(23, 37, 84, 0.6) transparent;
}
